@font-face {
    font-family: "Toyota Type";
    src: url('../../public/webfonts/ToyotaType-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Toyota Type";
    src: url('../../public/webfonts/ToyotaType-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Toyota Type";
    src: url('../../public/webfonts/ToyotaType-BoldIt.ttf');
    font-weight: 700;
    font-style: italic;
}

.font-toyota {
    font-family: "Toyota Type";
}

.content_bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/images/bgImages/login-back.png');
}

@tailwind base;
@tailwind components;
@tailwind utilities;