@font-face {
    font-family: "Toyota Type";
    src: url('../../public/webfonts/ToyotaType-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Toyota Type";
    src: url('../../public/webfonts/ToyotaType-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Toyota Type";
    src: url('../../public/webfonts/ToyotaType-BoldIt.ttf');
    font-weight: 700;
    font-style: italic;
}

.font-toyota {
    font-family: "Toyota Type";
}

.content_bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/images/bgImages/login-back.png');
}

.dropdown-container {
    text-align: left;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 5px;
    font-family: "Toyota Type";
    width: 250px;
}

.dropdown-input {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.dropdown-menu {
    position: absolute;
    transform: translateY(4px);
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: auto;
    max-height: 200px;
    background-color: #fff;
    z-index: 99;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: black;
    color: #fff;
}

.dropdown-item.selected {
    background-color: #0d6efd;
    color: #fff;
}

.dropdown-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.dropdown-tag-item {
    padding: 2px 4px;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

// ********** start *********
// multi select drop css here
.multi-dropdown-container {
    text-align: left;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 5px;
  }
  
  .multi-dropdown-input {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
  }
  
  .multi-dropdown-menu {
    position: absolute;
    transform: translateY(4px);
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: auto;
    max-height: 250px;
    background-color: #fff;
    z-index: 99;
    padding: 4px;
  }
  
  .multi-dropdown-item {
    padding: 16px;
    cursor: pointer;
  }
  
  .multi-dropdown-item:hover {
    background-color: black;
    color: #fff;
  }
  
  .multi-dropdown-item.selected {
    background-color: black;
    color: #fff;
  }
  
  .multi-dropdown-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .multi-dropdown-tag-item {
    background-color: #ddd;
    padding: 2px 4px;
    border-radius: 2px;
    display: flex;
    align-items: center;
  }
  
  .multi-dropdown-tag-close {
    display: flex;
    align-items: center;
  }
  
  .multi-search-box {
    padding: 16px;
    background-color: #eee;
  }
  
  .multi-search-box input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
  }
// ********** end ***********

@tailwind base;
@tailwind components;
@tailwind utilities;